.navbar {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 1%;
}

.navbar__item {
    text-decoration: none;
    position: relative;
}

.navbar__item:first-child {
    margin-right: auto;
}

.navbar__item:not(:first-child) {
    margin-left: 15px;
}

.item--logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px 0;
}

.item--icon{
    width: 30px;
    height: 30px;
}

.item--title::first-letter{
    font-size: 42px;
}

.navbar__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 2px; 
    background-color: transparent;
    transition: background-color 0.3s; 
}

.navbar__item:hover::after {
    background-color: var(--contrast1-color); 
}