*{
    color: #fefefe;
}


.grid{
    display: grid;
    min-height: 100dvh;

    grid-template-rows: 8fr auto; 

    grid-template-areas: 
    "main"
    "footer";
}
.header{
    background-color: #1b1b1b;
}
.main{
    grid-area: main;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #282828;
}
.footer{
    grid-area: footer;

    background-color: #1b1b1b;
}