.flexbox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.flex-item {
    position: relative;
    border-radius: 5px;
    background-color: var(--secondary-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 150px; 
    object-fit: cover; 
}

.product-title {
    font-weight: bold;
    margin: 10px 0; 
    flex-grow: 1; 
}

.product-price {
    font-weight: bold;
    font-size: 36px;
    color: var(--contrast2-color);
    margin: 5px 0; 
}

.product-description {
    margin: 5px 0; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-individual {
    margin: 5px 0; 
}

.add-to-cart-button {
    background-color: var(--contrast2-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.add-to-cart-button:hover {
    background-color: #c04f75;
}

.add-to-cart-button2 {
    background-color: var(--contrast1-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.add-to-cart-button2:hover {
    background-color: #06788f;
}